.banner{
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/banner.jpg);
	color:white;
	padding: 150px 0px;
	background-size:cover;

}

.banner h1 {

	font-size: 55px;
	font-weight: bold;
}

.banner h2{

	font-size: 20px;
	font-weight: 10px;
	letter-spacing: 2px;
	line-height: 0px 50px;
}

